.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  animation: spin 12s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.badges {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  img {
    margin-left: 10px;
  }
}
.forkonGithub a {
  background: #101010;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}
.forkongithub a {
  background: #101010;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}
.forkonGithub a:hover {
  background: #fff;
  color: #000;
}
.forkonGithub a::before,
.forkonGithub a::after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}
.forkonGithub a::after {
  bottom: 1px;
  top: auto;
}
@media screen and (min-width: 300px) {
  .forkonGithub {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }
  .forkonGithub a {
    width: 200px;
    position: absolute;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}
body {
  background: #101010 !important;
  margin: 0;
}
.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
